xlsxwriter>=0.7.3
numpy>=1.11.1
picklable-itertools>=0.1.1
progressbar2>=3.10.0
pyyaml>=3.11
six>=1.10.0
toolz>=0.8.0
scikit-learn>=0.18
Cython>=0.23.4
tensorflow-gpu>=1.0.1
matplotlib>=1.5.3
python-dateutil>=2.6.0
h5py>=2.7.0
